*{  margin:0; padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;}
body{font-family: 'Open Sans', sans-serif;
     background-image: url("images/fondo1.jpeg");
     background-size: cover;}

h2{ padding:40px; font-weight:lighter;
    color:#414141;}
input{display:block; height:50px;
      width:90%; 
      border:1px solid rgba(0,0,0,.1);
      :hover,:focus,:active:focus{
          color:#ff5722;outline:none;
          border-bottom:1px solid #ff5722; }
}
#usuarioLogin input{width:60%;}   
.email,.pwd{  z-index:1;
              border-bottom:1px solid rgba(0,0,0,.1);
              font-family: 'Open Sans', sans-serif;
              color:#858585;
              font-weight:lighter; -webkit-transition:.5s;
              transition:.5s;}
button{cursor:pointer; display:inline-block;
       float:left; width:50%; height:60px;
       box-sizing: border-box;
       margin-top:-10px;  border:none;
       font-family: 'Open Sans', sans-serif;
       text-transform:uppercase;
       color: #414141;
       /*  border:1px solid #BDBDBD ;*/
}
fieldset{border:0px;}
#usuarioLogin,#datosUsuario,#datosAdmin{
    margin-bottom:80px; background:#fff;
    border-radius:5px;overflow:hidden;margin:auto; }
#usuarioLogin{display:block;
              min-width:350px;width:50%;
              margin-top:20%;height:40%;  }

#datosUsuario,#datosAdmin{display:flex; 
                          min-width:30%;width:80%;
                          margin-top:5%;height:80%;display:none; }

#datosAdmin,#datosUsuario{flex-direction: column;}
#datosUsuario label,#datosUsuario input{  }
#datosUsuario label{width:40%;}
#datosUsuario input{width:60%;}
#datosUsuario  #usuImagen{background-size: cover;}
.formUsu .datosGeneralesUsu .elemUsu{
    display:flex; flex-direction: column; margin-bottom: 10px;}
.datosImagenPerfilUsu{margin-left: 10px;}
.zonaBotones{flex-direction: row;}
button.modificar{width:100%;}
.formLogin ,.formUsu{ display:flex;  min-width: 550px;margin-left: 10px;}
.formLogin{flex-direction: column;}
.imagenesUsu{ display:flex;justify-content: space-between;padding:2%;flex-wrap: wrap;}
.imagenesUsu,.formUsu{flex-direction: row;}
.datosGeneralesUsu{width:60%;}
#datosAdmin .zonaDatosAdmin{width:80%; margin:auto;display:none; margin-bottom: 20px;}
.imagenPerfilUsu{
    width:100px;
    height:125px;
    border:1px solid rgba(0,0,0,.1);
    margin-bottom: 1em;
    background-size: cover;
}
@media (max-width: 650px){
    form, #datosUsuario,.datosGeneralesUsu,.formUsu, #datosAdmin, .formUsu{flex-direction:column; } 
    .elemUsu,.datosGeneralesUsu{display:flex;flex-direction: column;} 
    .datosGeneralesUsu{padding-left: 10px;}
    .formUsu{width:90%; margin:auto; }
    .formUsu fieldset{width:90%;}

    .formLogin fieldset{width:90%; margin:auto;}
}


